[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gitpython = "*"

[dev-packages]
black = "*"
ipython = "*"
pynvim = "*"
flake8 = "*"
yapf = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
